%h1 طراحی وب سایت ریسپانسیو
%p برگرفته از سایت آپارنت
%h2 طراحی توسط مهسا پورجعفریان
#w
  %ul.first-ul#info
    %li
      #photo= image_tag 'e.jpg'
    %li
      = image_tag 'w.jpg'
    %li
      = image_tag 'q.jpg'    
  .clear-float
